# Database files
*.duckdb
*.db
*.sqlite

# Python files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
fresh-env/
dwh-env/

# Large data files
*.csv
data/raw/

# Cache and log files
logs/
*.log
.dbt/
target/
